@mixin big {    height: calc(3600px / 2);
    width: calc(2520px / 2);
    left: 0;
    top: 0;
    margin: 0 auto;
    position: absolute;
}

@mixin small {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    left: 0;
    top: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
}

$text-color: #eaeaea;
$background-color: #353535;
$primary-color: #e8206c;
$secondary-color: #823bec;
